.project-content ul {
    margin: 0;
    padding-left: 2rem;
    list-style-type: disc;
    color: #777;
    font-size: 15px;
    font-family: roboto,sans-serif;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
  color: Blue;
}

.portfolio-item img {
  height: 240px;
}